{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
  <!-- <div class="card-group m-auto my-2"> -->
    {% for details in user %}
      <div class="row my-2">
        <div class="card" >
          <div class="row">
            <div class="col-1 mx-1 my-auto p-0">
              <img src="/images/profile/{{ details.image }}" class="img-fluid" style="border-radius: 50%;" alt="...">
            </div>
            <div class="col p-0 my-auto">
              <div class="card-body p-1" style="font-size: 10px;">
                {% if current_user.id == details.id %}
                  <a class="card-title" href="/profile/show"> <b style="font-size: 10px; text-align: left;">{{ details.name }}</b></a>
                {% else %}
                  <a class="card-title" href="/people/profile-visit?id={{ details.id }}"><b style="font-size: 10px;">{{ details.name }}</b></a>
                {% endif %}
                <p class="card-text">
                  {{ details.gender }} <br>                
                  {{ details.email }}  <br>
                  {{ details.catogery }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  <!-- </div> -->
{% endblock %}