{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block body %}        
    <div class="card-group my-auto">
        <div class="card mx-auto my-4" style="max-width: 20rem ; align-items: left;">
            <div class="card-body">

                <h1>Log in</h1>
                
                <form action="/login/create" method="post">            
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" id="inputEmail" name="email" placeholder="Email address" autofocus value="{{ email }}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" name="password" placeholder="Password" class="form-control" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked"{% endif %} /> Remember me
                        </label>
                        <a href="/password/forgot" class="logbtn btn btn-default m-1">Forgot password?</a>
                    </div>            
                    <ul style="list-style-type: none; padding: 5px;">
                        <li style="padding-bottom: 9px;"> 
                            <button type="submit" class=" logbtn  btn btn-default">Log in</button>
                        </li>
                        <li>
                            If new please <a class="btn logbtn" href="/signup/new">Sign up</a> first.
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
        